.header {
    background-color: $cor-primaria-verde;
    @include gradient-x($cor-header-inicio, $cor-header-fim);

    a {
        color: $cor-secundaria-branco;

        &:hover {
            color: $cor-secundaria-branco;
        }
    }

    .title-link {
        display: block;
        text-decoration: none;

        &:hover {
            text-decoration: none;
        }
    }

    .title-img {
        float: left;
        margin-right: 20px;

        @include media-breakpoint-down(sm) {
            display: none;
        }
    }

    .title-campus {
        color: #ffffff;
        font-weight: bold;
        margin-bottom: 0;

        small {
            color: #ffffff;
            display: inline-block;
            font-size: 0.8rem;
        }
    }
}
