.menu-campi {
    border: 1px solid darken($cor-primaria-cinza, 10%);

    @include media-breakpoint-up(lg) {
        &::before {
            content: none;
            border: none;
            display: inherit;
            margin-top: 0;
        }
    }

    @include media-breakpoint-down(lg) {
        margin-top: 0;
    }
}
