.noticia {
    $n: &;

    &__img {
        margin-bottom: 5px;
    }

    &__titulo {
        margin-bottom: 5px;
    }

    &__meta {
        margin-bottom: 10px;
    }

    &_destaque {
        margin-bottom: 30px;

        #{$n}__img {
            @include media-breakpoint-up(lg) {
                max-width: 50%;
            }
        }

        #{$n}__titulo {
            margin-bottom: 5px;
        }

        #{$n}__meta {
            margin-top: 10px;
        }
    }
}
