.noticia {
    .noticia-imagem {
        margin-bottom: 5px;
    }

    .noticia-titulo {
        margin-bottom: 5px;
    }

    .noticia-meta {
        margin-bottom: 10px;
    }
}

.noticia-destaque {
    margin-bottom: 30px;

    .noticia-imagem {
        @media screen and (min-width: $screen-md-min) {
            max-width: 50%;
        }
    }

    .noticia-titulo {
        margin-bottom: 5px;
    }

    .noticia-meta {
        margin-top: 10px;
    }
}

.noticia-list {
    .noticia {
        margin-bottom: 15px;
    }
}
